In [1]:
import pandas as pd

txn = pd.read_excel(r'JPMCFiles/txn.xlsx')
account = pd.read_excel(r'JPMCFiles/account.xlsx')

In [7]:
txn

  account_id   txn_id  amount dr_cr            txn_date               comments
0    A030034  T034343      10     D 2020-03-23 10:00:34  Buying for investment
1    A030035  T034346      11     C 2020-03-23 11:00:34  Buying for compliance

In [41]:
account

  account_id     balance   status  open_date
0    A030034     3903.24   Active 2020-01-01
1    A030035     1000.00  Dormant 2019-01-01
2    A030036  3846386.00   Active 2019-03-08
3    A030037    36473.00   Active 2020-01-01
4    A030039    56473.00   Active 2020-01-01
5    A030040    66473.00   Active 2020-01-01

In [28]:
no_txn = account.loc[~account['account_id'].isin(txn['account_id'])]
print('Accounts with no transactions : ')
no_txn

Accounts with no transactions :

  account_id    balance  status  open_date
2    A030036  3846386.0  Active 2019-03-08
3    A030037    36473.0  Active 2020-01-01
4    A030039    56473.0  Active 2020-01-01
5    A030040    66473.0  Active 2020-01-01

In [40]:
no_credit = txn.loc[txn['dr_cr'] != 'C']
no_credit_account = account.loc[~account['account_id'].isin(no_credit['account_id'])]
print('Accounts with no credit transactions: ')
no_credit_account

Accounts with no credit transactions:

  account_id    balance   status  open_date
1    A030035     1000.0  Dormant 2019-01-01
2    A030036  3846386.0   Active 2019-03-08
3    A030037    36473.0   Active 2020-01-01
4    A030039    56473.0   Active 2020-01-01
5    A030040    66473.0   Active 2020-01-01

In [51]:
import datetime as dt
accounts_2019 = account.loc[account['open_date'].dt.year == 2019]
print('Transactions of Accounts which were opened in 2019')
txn_accounts_2019 = txn.loc[txn['account_id'].isin(accounts_2019['account_id'])]
txn_accounts_2019

Transactions of Accounts which were opened in 2019

  account_id   txn_id  amount dr_cr            txn_date               comments
1    A030035  T034346      11     C 2020-03-23 11:00:34  Buying for compliance

In [53]:
invalid_txn = txn.loc[~txn['account_id'].isin(account['account_id'])]
print('Transactions where account id is invalid : ')
invalid_txn

Transactions where account id is invalid :

Empty DataFrame
Columns: [account_id, txn_id, amount, dr_cr, txn_date, comments]
Index: []