# STC Lab 4B : Multiple Linear Regression and Analysis
<strong>Kaustubh Venkatesh<strong><br>
UID : 2018120033<br>
Roll No. : 36<br>
Date : 05-09-2020

In [8]:
#Importing important libraries
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [4]:
#importing the dataset
df = pd.read_csv('homeprices.csv')
df.head()

   area  bedrooms  age   price
0  2600         3   20  550000
1  3000         4   15  565000
2  3200         2   18  610000
3  3600         3   30  595000
4  4000         5    8  760000

In [7]:
#Summary of the dataset
df.describe()

              area  bedrooms        age          price
count     6.000000  6.000000   6.000000       6.000000
mean   3416.666667  3.833333  16.500000  648333.333333
std     587.934237  1.471960   8.288546  109117.673484
min    2600.000000  2.000000   8.000000  550000.000000
25%    3050.000000  3.000000   9.750000  572500.000000
50%    3400.000000  3.500000  16.500000  602500.000000
75%    3900.000000  4.750000  19.500000  722500.000000
max    4100.000000  6.000000  30.000000  810000.000000

In [6]:
#Splitting the dataset into features and target sets
X = df[['area', 'bedrooms', 'age']]
y = df.price

In [11]:
#Creating the regression model
regressor = LinearRegression()

#Fitting the dataset into the model
regressor.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [13]:
#Coefficents of the regression model
m = regressor.coef_
print("Coefficients of the model : ",m)

Coefficients of the model :  [  127.89579079  4485.24452283 -5031.30143856]

In [14]:
#intercept of the model
c=regressor.intercept_
print("Intercept : ", c)

Intercept :  277179.0845348524

In [16]:
#Prediction of a value
print("Predicted value : ",regressor.predict([[100000,2,10]]))

Predicted value :  [13025415.63813813]

<style>
div.blue { background-color:#e6f0ff; border-radius: 5px; padding: 20px;}
</style>
<div class = "blue">
<strong>Conclusion : </strong>
<br/>
From the experiment conducted, it can be concluded that regression is an important statistical tool which helps usdetermine 
relations between different attributes in a dataset which then allows us to predict values based on different features.
Python contains various functions which allow us to  visualise data graphically as well as to build simple and multiple linear regression models.

</div>